<div class="container">
	<div class="row mt-4">
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 1
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 2
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 3
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 4
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 5
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 6
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 7
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 8
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 9
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 10
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 11
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 12
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 13
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 14
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 15
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 16
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 17
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 18
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 19
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 20
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 21
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 22
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 23
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 24
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 25
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 26
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 27
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 28
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 29
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
		<!-- Day -->
		<div class="col-md-3 mb-3">
			<div class="card">
				<div class="card-header">
					Day 30
				</div>
				<div class="card-body">
					<h5 class="card-title">There is a Quest Here!</h5>
					<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Expand
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Quests</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">
						Grocery
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

