
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
		  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	
		<script>
			var dataJSON = [];
				{{#each Quests}}
					dataJSON.push(['{{desc}}','{{data}}'])
				{{/each}}
		</script>

</head>
<div class="container, col-lg-4 col-xl-7 col-xxl-4 mt-5 mx-auto">
    <h1> calendar</h1>
    <div class="form-inline">
        <button class="btn btn-outline-primary col-sm-6" onclick=previous()>Previous</button>
        <button class="btn btn-outline-primary col-sm-6" onclick=next()>Next</button>
    </div>
	<div class="card">
        <h3 class="card card-header" id="monthAndYear"></h3>
		<table class="table table-bordered table-responsive-sm" id="calendar">
			<thead>
				<tr>
					<th>Sun</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
					<th>Sat</th>
				</tr>
			</thead>

			<tbody id="calendar-body"></tbody>
		</table>
		
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="calendar.js"></script>
