<header class = "header-container">
      <h1 class="site-title">John smith<a href="#"></a></h1>
</header>
<section id = "header-info"> 
    <div class = "user-info">
        Current Level : <span id= "current-level"> 0 </span>
      <progress id = "progress-bar" max = "500" value = "0" data-label="Current xp is 0"> </progress>
    </div>
</section>