      <div class = "user-info">
          Current Level : <span id= "current-level"> {{level}} </span>
        <progress max = {{maxExp}} value = {{currExp}} data-label="Current xp is {{currExp}}"> </progress>
      </div>

