.weeks{
    position: relative;
    top: 50px;
    width: 100%;
    display: flex;
    padding: 5px;
}
.Days{
    padding: 5px;
    border: solid 1px;
    height: 250px;
    width: 100%;
    margin: 10px;
}