<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team 3 final project</title>

    <link rel="stylesheet" href="style.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" charset="utf-8" defer></script>

    <script src = "userInfoTemplate.js" charset="utf-8" defer></script>
   
    <script src="index.js" charset="utf-8" defer></script>
  </head>
    <body>
      {{{body}}}
    </body>

    <aside class="quest-container">

        <h2> something here so we can test</h2>
      </aside>

      <button class = "add-quest-button"> Add a quest </button>
</html>
