<head>
    <link rel="stylesheet" href="404style.css">
</head>
{{> header}}
<main class="error-container">
    <h2>404</h2>
    <h3>Woops!  We couldn't find that page.</h3>
    <p>This was the page you requested: {{url}}</p>
</main>
