<head>
    <script src="calendar.js" charset="utf-8" defer></script>
</head>
{{> header}}
<main class="content">
    
    {{> calandar}}
    {{> addQuest}}
</main>

<section>
</section>

<button id="add-quest-button"> Add a quest </button>