<main class="content">
    {{> calandar}}
    {{> addQuest}}
</main>

<section>

</section>

<button type="button" class="btn btn-primary position-fixed bottom-0 end-0" data-bs-toggle="modal" data-bs-target="#QuestAdder">
  Add a Quest
</button>