
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="welcome.js" charset="utf-8" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/welcome.css">
</head>


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1 class="site-title">CS 290 Team 3 Group Project</h1>
        </div>
    </nav>
</header>

<main class="container, col-lg-1 col-xl-2 col-xxl-3 mt-5 mx-auto">

    <div class="container-fluid">
        <h2>Example user calendars:</h2>
        <div class="container">
            {{#each addUsers}}
                {{> addUser}}
            {{/each}}
        </div>
     </div>

</main>
<div class="btn-group btn-group-lg" role="group" aria-label="Add a User">
    <button id="add-user-button" type="button" class="btn btn-outline-dark">Add a New User?</button>
</div>

<div id="addUser-backdrop" class="hidden"></div>
<div id="addUser-modal" class="hidden">

    <div idiv class="addUser-contain">
        <div class="addUser-header">
            <h3>Add A User</h3>
            <button type="button" id="addUser-close" class="addUser-hide-button">&times;</button>
        </div>
        <div class="addUser-main">
            <div class="addUser-input-element">
                <label for="addUser-desc-inp">User Information</label>
                <input type="text" id="addUser-name-inp"></input>
            </div>
        </div>
        <div class="addUser-footer">
            <button type="button" id="addUser-cancel" class="addUser-hide-button">Cancel</button>
            <button type="button" id="addUser-add">Add User</button>
        </div>
    </div>
</div>


