.hidden {
    display: none;
}

#addUser-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: grey;
}

.addUser-contain {
    width: auto;
    max-width: 400px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

#addUser-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.addUser-header {
    position: relative;
    padding: 10px 20px;
}

    .addUser-header h3 {
        font-size: 30px
    }

#addUser-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.addUser-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 10px;
}

    .addUser-input-element > label {
        font-weight: 600;
        flex: 1 75px;
        margin-right: 10px;
    }

    .addUser-input-element input {
        flex: 6 200px;
        padding: 5px;
        font-size: 20px;
        border: 1px solid #aaa;
    }

.addUser-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

#addUser-cancel, #addQuest-add {
    margin-right: 20px;
}

.user-container {
    display: inline-block;
    /* min-width: 200px;
    max-width: 200px; */
    /* margin: 10px 10px auto 10px; */
    background-color: #966F57;
    position: fixed;
    left: 78%;
    height: 85%;
    width: 18%;
    padding-left: 25px;
}

    .user-container h2 {
        color: white;
    }

#add-user-button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ababab;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
    position: fixed;
    left: 90%;
    top: 87%;
}

    #add-user-button:hover {
        background-color: lightgrey;
        color: black;
    }

.User-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 28px;
}